.git
.gitattributes
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.log
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
Thumbs.db
fastapi/videos/*
fastapi/sensors/*
json/*
*.md
!README.md
.dockerignore
Dockerfile
Dockerfile.streamlit
run.sh
run-combined.sh
run-combined-gpu.sh
