fastapi
uvicorn[standard]
torch==2.2.2+cu121
torchvision==0.17.2+cu121
--extra-index-url https://download.pytorch.org/whl/cu121
opencv-python
numpy<2
pandas
ultralytics
python-multipart
streamlit
requests
